html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
}

.container {
    position: static;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#mynetwork{
    background-color: white;
}
textarea{
    width: 500px;
    border-radius: 15px;
}

input{
    border-radius: 15px;
    margin: 150px;
}

h1,h2,h3,p,label{
    color: white;
}

a{
    border-radius: 5px;
    padding: 10px 7px;
    text-decoration: none;
    color: black;
    background-color: lightblue ;
    margin: 5px;
}

img {
    width: 100%;
}
